:root{
  --mainGreyColor: #ffffff9b;
  --textWhite: #fff;
  --textBlack: #000;
  --lightGrey: #bbb;
  --normalGrey: #999;
  --darkGrey: #555;
  --mainColor: #ac62cc;
  --mainRed: #d00;
  --normalTextSize: 16px;
  --smallTextSize: 14px;
  --bigTextSize: 30px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  user-select: none;
  scrollbar-width: none;
  font-weight: normal;
}
button, input[type='text'], textarea{
  padding: 20px 10px;
  border-radius: 10px;
  background: var(--mainColor);
  color: var(--textWhite);
  border: none;
  cursor: pointer;
}
button:hover, #settingMenu > p:hover{
  filter: brightness(130%);
}
input[type='text'], textarea{
  background: var(--textWhite);
  color: var(--textBlack);
  border: solid 1px var(--lightGrey);
}
textarea{
  resize: none;
  max-height: 100px;
}
::-webkit-scrollbar {
  display: none;
}
#mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2018/02/15/14/37/paper-3155438_1280.jpg');
  background-position: center;
  background-size: cover;
}
header{
  background: var(--mainColor);
  color: var(--textWhite);
  padding: 20px;
  border-bottom: solid 1px var(--lightGrey);
}
main{
  background: var(--mainGreyColor);
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}
.column{
  width: 380px;
  height: 100%;
  background: var(--mainGreyColor);
  border-radius: 20px;
  border: solid 1px var(--lightGrey);
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}
.column > h2{
  border-bottom: solid 1px var(--lightGrey);
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--mainColor);
}
.taskContainer{
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.taskContainer > div{
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0;
  background: var(--mainGreyColor);
  border: solid 1px var(--lightGrey);
  list-style: none;
  width: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border 0.2s;
}
.taskContainer > div:first-child{
  margin: 0 0 10px 0;
}
.taskContainer > div:last-child{
  margin: 10px 0 0 0;
}
.taskContainer > div:hover{
  border: solid 1px var(--darkGrey);
}
.taskContainer > div > p, .taskContainer > div > h6{
  pointer-events: none;
}
.taskContainer > div > h6{
  color: var(--normalGrey);
}
.taskContainer > div > p{
  margin-right: 20px;
}
.taskContainer .trashBtn{
  color: var(--mainRed);
  cursor: pointer;
  padding: 10px 0 10px 20px;
}
.column > button, .column > input, textarea{
  margin-top: 10px;
  font-size: var(--smallTextSize);
}
.column h1{
  width: fit-content;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s linear 0.2s;
}

#taskViewer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--textWhite);
  border: solid 1px var(--textBlack);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  border-radius: 20px;
}
.closePopup{
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  color: var(--textWhite);
}
#popupColumn{
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 30px;
  background: var(--textWhite);
  color: var(--textBlack);
}
#titleDisplay{
  background: var(--mainColor);
  color: var(--textWhite);
  text-align: center;
  border: none;
  border-bottom: solid 1px var(--textWhite);
  width: 100%;
  padding: 20px;
  font-size: var(--bigTextSize);
}
#contentDisplay{
  text-align: center;
  padding: 0 20px;
  max-height: 120px;
  overflow-y: scroll;
  border: none;
  font-size: var(--normalTextSize);
}
#dateDisplay{
  color: var(--normalGrey);
}
#taskViewer > div{
  display: flex;
  gap: 10px;
  padding: 0 20px 20px;
}
#taskViewer > div > button{
  width: 100px;
  font-size: var(--normalTextSize);
}